.container {
    text-align: center;
    background-color: black;
    color: white;
    margin-left: 40%;
    margin-right: 40%;
}

.button{
    background-color: yellow;
}

.radio{
    background-color: blueviolet;
}

.login {
    display: flex;
    justify-content: space-around;
}